.button{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    border:none;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 14px;
    transition:all .5s;
}

.primary{
    color:white;
    background-color: var(--primary);
}

.primary:hover{
    background-color: var(--primary-hover);
}

.ghost{
    border: 1px solid var(--gray-light);
    background-color: none;
}

.ghost:hover{
    color:white;
    background-color: var(--primary);
}

.arrow{
    display: inline-block;
    margin-left: 10px;
}



.down{
    transform: rotate(90deg);
    transition: transform .2s;
}

.primary svg, .ghost:hover svg{
    fill:var(--white);
}