.star{
    display: inline-block;
}

.star svg{
    cursor: pointer;
    margin-right: 5px;
}

.filled svg{
    fill: var(--primary);
}

.error svg{
    stroke:var(--red)
}

.ratingWrapper{
    position: relative;
}

.errorMessage{
    position: absolute;
    left: 0;
    bottom: -20px;
    color:var(--red);
}