.hhdata {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.count {
    padding: 20px;
    text-align: center;
}

.salary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap:20px 0;

}

.salary>div {
    border-right: 1px solid var(--gray-light);
    text-align: center;
}

.salary>div:last-of-type {
    border: none;
}

.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

.countValue {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary);
}

.salaryValue {
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
}

.rating{
    display: grid;
    grid-template-columns: repeat(3, 20px);
    gap: 10px;
    justify-content: center;
    margin-top: 12px;
}

.filled circle{
    fill:var(--orange);
}

@media (max-width: 1024px){
    .hhdata{
        grid-template-columns: 1fr;

    }
}


@media (max-width: 660px){
    .salary {
        grid-template-columns: 1fr;
    }
    
    .salary>div {
        border-bottom: 1px solid var(--gray-light);
        padding-bottom: 20px;
    }
    
    .salary>div:last-of-type {
        border: none;
        padding: 0;
    }
}