:root {
	--font-family: 'Roboto', sans-serif;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-dark: #62666C;
	--black: #3B434E;
	--white: #FFF;
	--primary: #694ADF;
	--primary-hover: #3A1AB9;
	--secondary: #787D85;
	--red-light: #FEA291;
	--red: #DE0000;
	--orange: #FC836D;
	--green: #007B48;
	--green-light: #C8F8E4;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #E5E5E5;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}
